<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://classroommanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>classroommanager.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ClassroomManager</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$ClassroomManager</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="HomeReadingEntities" Order="3" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:ixnlju9avu.database.windows.net,1433;Initial Catalog=ClassroomManager_db;User ID=MDPS4290@ixnlju9avu;Password=Drui4290" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HomeReadingManager.Models.HomeReadingEntities, HomeReadingManager" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:ixnlju9avu.database.windows.net,1433;Initial Catalog=ClassroomManager_db;User ID=MDPS4290@ixnlju9avu;Password=Drui4290" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HomeReadingManager.Models.ApplicationDbContext, HomeReadingManager" MigrationConfiguration="HomeReadingManager.Migrations.Configuration, HomeReadingManager" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ixnlju9avu.database.windows.net,1433;Initial Catalog=ClassroomManager_db;User ID=MDPS4290@ixnlju9avu;Password=Drui4290</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HomeReadingEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.HomeReading.csdl|res://*/Models.HomeReading.ssdl|res://*/Models.HomeReading.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:ixnlju9avu.database.windows.net,1433;Initial Catalog=ClassroomManager_db;User ID=MDPS4290@ixnlju9avu;Password=Drui4290"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>