@{
    ViewBag.Title = "Contact";
}
<img src="@Url.Content("~/Images/SchoolHouse2.jpg")" alt="IMAGES" width="300" height="300" />
<h2>Classroom Manager</h2>

<address>
    Bernard Foley<br />
    238 Singles Ridge Road<br />
    Yellow Rock, NSW, 2777<br />
    Australia<br />
    <abbr title="Phone">P:</abbr>
    61+ 2 47541773
</address>

<address>
    <strong>Support & sales:</strong>   <a href="mailto:bauson@outlook.com">bauson@outlook.com</a><br />
   
</address>
