
    <div>
   
        <h2>
            Select a session or create a new one
        </h2>
        <img src="@Url.Content("~/Images/StudentsDesk.jpg")" alt="IMAGES" width="300" height="300" />
    </div>
